@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    max-width: 1000px;
    margin: 0 auto;
}


  .bg-footer-container::before {
    content: '';
    background-image: url('/assets/manga/campfire.jpg');
    background-size: contain;
    background-position: top;
    width: 100%;
    height: 200vh;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
  }


    .scrolling-container {
      animation: scrollAnimation 120s linear infinite;
    }
  
    @keyframes scrollAnimation {
      0% {
        transform: translateY(0);
      }
  
      100% {
        transform: translateY(-100%);
      }
    }

    .scrolling-container-x {
      animation: scrollAnimationX 60s linear infinite;
    }

    @keyframes scrollAnimationX {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-100%);
      }
    }

@media screen and (min-width: 600px) {
  .youtube-player-container {
    width: 640px;
    margin: 0 auto;
  }

  .youtube-player-container iframe {
    width: 100%;
    height: 360px;
  }
}

/* For medium-sized screens (between 600px and 900px) */
@media screen and (min-width: 600px) and (max-width: 900px) {
  .youtube-player-container {
    width: 400px;
    margin: 0 auto;
  }

  .youtube-player-container iframe {
    width: 100%;
    height: 225px;
    /* You can adjust the height as needed */
  }
}

/* For smaller screens (less than 600px) */
@media screen and (max-width: 599px) {
  .youtube-player-container {
    width: 300px;
    margin: 0 auto;
  }

  .youtube-player-container iframe {
    width: 100%;
    height: 170px;
    /* You can adjust the height as needed */
  }
}

.scroll-container {
  width: 100vw;
  scroll-snap-type: x mandatory;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
